{% extends "base.html" %}
{% load static %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}


    <header class="masthead" style="background-image: url('{{ page.background_image.file.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ page.header_title }}</h1>
                            <span class="subheading">{{ page.header_subtitle }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>





    <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">


                    {{ page.body|richtext }}


                    <!-- Divider-->
                    <hr class="my-4" />

                    <h2>Latest Articles: </h2>

                    {% for topic_page in latest_topic_pages %}



                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ topic_page.url }}">

                            <h2 class="post-title">{{ topic_page.title }}</h2>
                            <h3 class="post-subtitle">{{ topic_page.get_body_preview }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted on {{ topic_page.date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />

                    {% endfor %}

                    </div>
            </div>
        </div>





{% endblock %}