{% extends "base.html" %}
{% load static %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-topicmainpage{% endblock %}


{% block content %}


    <header class="masthead" style="background-image: url('{{ page.background_image.file.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ page.header_title }}</h1>
                            <span class="subheading">{{ page.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>





    <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">


                    {{ page.body|richtext }}

                    <!-- Post preview-->
                    <div class="post-preview">

                            {% for topicpage in topicpages %}
                                <a href="{{ topicpage.url }}">
                            	<h2 class="post-title">{{ topicpage.title }}</h2>
                                <h3 class="post-subtitle">Body: {{ topicpage.get_body_preview }}</h3>



                        </a>
                        <p class="post-meta">
                            Posted on {{ topicpage.date }}
                        </p>
                        {% endfor %}
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />


                </div>
            </div>
        </div>





{% endblock %}